body{
    background: yellow;
}

.container{
    width: 100%;
    height: 49vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:100px 100px 100px 100px 100px 100px 100px 100px 100px ;
    column-gap: 20px;
    row-gap: 5px;
    
}

.container div{
    overflow: hidden;
    border-radius: 5px;
    background-color: aqua;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.212);
}

.um{
    background-image: url(wallpaper/1.webp);
}

.dois{
    background-image: url(wallpaper/2.webp);
}

.tres{
    background-image: url(wallpaper/3.webp);
}

.quatro{
    background-image: url(wallpaper/4.png);
}

.cinco{
    background-image: url(wallpaper/5.webp);
}

.seis{
    background-image: url(wallpaper/6.webp);
}

.sete{
    background-image: url(wallpaper/7.jpg);
}

.oito{
    background-image: url(wallpaper/8.jpg);
}

.nove{
    background-image: url(wallpaper/9.jpg);
}

.container div img{
    object-fit: cover;
    width: 500px;
    height: 100px;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.2s;
}

.container div:hover img{
    visibility: visible;
    opacity: 1;
}

